* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 110px;
}

.pageLayout{
    font-family: Arial, sans-serif, Helvetica;
    color: #222;
    line-height: 1.5;
}

.parentBox{

    width: 100%;
    font-family: Arial, sans-serif, Helvetica;
    color: #222;
    line-height: 1.5;
}

main{
    background-color: #4f4f4f;
    padding: 20px;
    color: white;
    gap: 20px;
    text-align: justify;
    font-size: small;
    padding-top: 100px;
    
}


main h1{
    background-color: #1F1F1F;
    color: white;
    border-radius: 4px; 
    padding-block: 10px;
    margin-bottom: 20px;
    margin-top: 10px;

}

.mainServices{
    display: grid;
    color: white;
    padding-top: 100px;
    grid-template-columns: minmax(0, 1fr) 320px;
    gap: 20px;
}

.mainContent{
    grid-column: 1; 
    background-color: #444;
    padding: 20px;
    color: white;
    border-radius: 4px;
    margin-bottom: 20px;
}

.mainAbout{
    background-color: #444;
    padding: 20px;
    color: white;
    border-radius: 4px;
    margin-bottom: 20px;
}

.mainContact{
    background-color: #444;
    padding: 20px;
    color: white;
    border-radius: 4px;
    margin-bottom: 20px;
}

.mainAside{
    grid-column: 2; 
    padding-right: 10px;
    padding-left: 30px;
    align-items: start;
    
}

.mainAside > aside{
    position: sticky;
    position: -webkit-sticky;
    top: 110px;
    z-index: 1;
    
}

.mainAsideContent{
    background-color:#280e0e;
    font-size: small;
    border-radius: 4px;
    text-align: center;
}


#asideGardening{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    
}

#asideLandscaping{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    
}

#asideWeedControl{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    
}

#asideTreeRemoval{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    
}


.mainContent img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin-block: 5px;
    border-radius: 4px;
}

header{
    position: fixed;
    min-width: 100vw;
    height: 50px;
    z-index: 100;
}

nav {
    padding: 16px 32px;
    min-height: 50px;
    background-color: #1F1F1F;
}

nav img {
    height: 50px;
    background-color: #444;
    border-radius: 50%;
    width: 50px;
    padding: 2px;
}

#gardeningImg{
    float: left;
    max-width: 400px;
    margin-right: 20px;
    border-radius: 4px;
    max-height: fit-content;
}

.gardeningSection{
    background-color: #444;
    padding: 20px;
    color: white;
    border-radius: 4px;
    margin-bottom: 20px;
    
}

#landscapingImg{
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin-block: 20px;
    border-radius: 4px;
}

.landscapingSection{
    background-color: #444;
    padding: 20px;
    color: white;
    border-radius: 4px;
    
}

.weedRemoveSection{
    margin-block: 20px;
    background-color: #444;
    border-radius: 4px;
    padding: 20px;

}

.spacer {
    display: inline-block;
    /*Parent width - Logo width - menu <ul> width with no margin in the last child*/
    width: calc(100% - 50px - 250px);
}

nav ul {
    list-style: none;
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: bottom;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: small;
}

nav ul li:last-child {
    margin-right: 0px;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:link,
nav ul li a:visited {
    color: white;
}

nav ul li a.currant {
    color: aqua;
    font-weight: bold
}

nav ul li a:hover{
    color: orange;
}

nav ul li a:active{
    color: green;
}

#services{
    margin-top: 5px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 0px;
    font-size: medium;
    text-align: justify;
}
#gardening{
    text-align: left;
    margin-block: 20px;

}

#landscaping{
    text-align: left;
    margin-block: 20px;
    
}

#weedControl{
    text-align: left;
    margin-block: 20px;
    
}

#treeRemoval{
    text-align: left;
    margin-block: 20px;
    
}

footer{
    list-style: none;
    display: block;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}
.copyFooter{
margin-top: 20px;
font-size: 10px;
}

/* Services dropdown menu */

#services-li{
    position: relative;
}

#services-li:hover #services-menu{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);

}

#services-menu{
    background-color: #1F1F1F;
    position: absolute;
    top: 105%;
    left: 0px;
    margin-bottom: 0px;
    padding: 4px 16px;
    z-index: 1;
    transform: translateY(-2vh);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, transform 0.15s;
    border-radius: 4px;
    
}
#services-menu li{
    margin-right: 0px;
    padding: 4px 0px;
}

#services-menu a{
    white-space: nowrap;
    display: inline-block;
}


footer{
    height: 40px;

}

/*BACK TO TOP BUTTON*/

.back-to-top{
    position: fixed;
    bottom: 16px;
    right: 32px;
    align-items: center;
    justify-content: center;    
    text-decoration: none;

    
    
}

.back-to-top span{
    color: white;
    font-size: 50px;
    background-color: #1F1F1F;
    border-radius: 50px;
}


